@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

h1, h2{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

h1{
    color:rgb(1, 1, 74) ;
}
p{
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body{
    background-color:rgb(1, 1, 74) ;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
}

#main{
    background-color: white;
    padding: 30px;
}